.links{
    float: right;
}
.links a{
    text-decoration: none;
}
header{
    font-size: 2rem;
    padding: .5em 1 em;
}

h1 {
    font-size: 2em;
}


h2 {
    display: inline block;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
    margin-right: .5 em;
    margin-left: .5 em;
}
main {
    padding: .5em .5em .5em;
    color: whitesmoke;
}

body {
    background: rgb(201, 136, 174);
    color: #232323;
    margin-inline: 1em;
}
.bottomword {
    color: white;
    font-size: 3em;
    text-align: center;
    margin-top: 2em;
}